### 2274802010480_Trần Khánh Linh
#### **Câu 1**:Xác định và phân loại dữ liệu định tính và định lượng
##### Định tính: Giới tính, Dân tộc, Khu vực thi và khối thi
##### Định lượng: T1, L1, H1, S1, V1, X1, D1, N1, T2, L2, H2, S2, V2, X2, D2, N2, T6, L6, H6, S6, V6, X6, D6, N6, DH1, DH2, DH3
#### **Câu 2**: Định nghĩa các thang đo phù hợp cho từng biến số
#### Điểm là kiểu số thực: Biến từ T1 dến N6
#### Biến định danh: Giới tính, Dân tộc, Kết quả

In [29]:
##Câu 3:
#Sử dụng Python để tải dữ liệu lên chương trình và in ra màn hình 10 dòng đầu tiên và 10 dòng cuối cùng
import numpy as np
import pandas as pd

df = pd.read_csv("dulieuxettuyendaihoc.csv", index_col="STT")
print(df.head(10))
print(df.tail(10))

      T1   L1   H1   S1   V1   X1   D1   N1   T2   L2  ...   DH1   DH2   DH3  \
STT                                                    ...
1    7.2  7.3  6.3  7.3  7.0  7.9  7.3  5.5  8.4  8.9  ...  3.25  3.25  4.50
2    5.4  3.9  3.9  4.0  5.4  5.4  5.3  2.8  6.3  5.4  ...  6.00  4.00  3.50
3    5.6  6.8  7.2  7.5  4.3  7.4  5.8  3.2  5.0  4.9  ...  5.00  6.75  4.00
4    6.6  6.4  5.3  6.9  5.4  7.3  6.4  5.8  5.1  6.2  ...  4.25  4.25  5.25
5    6.0  5.0  6.0  7.3  6.5  7.7  7.9  6.1  5.4  5.5  ...  4.25  4.50  5.00
6    9.3  7.6  7.9  8.6  7.0  7.3  7.7  7.9  9.6  7.8  ...  1.50  4.00  6.00
7    2.8  3.9  5.5  6.9  5.0  7.3  4.6  5.2  4.4  6.7  ...  6.50  6.75  5.25
8    8.3  6.0  7.6  5.1  7.5  4.7  5.8  7.2  6.7  6.3  ...  3.75  4.50  4.25
9    6.5  6.3  7.6  6.0  5.5  7.1  6.3  5.0  7.3  6.8  ...  3.50  3.50  6.75
10   7.3  5.9  4.7  7.1  6.7  7.9  6.7  7.7  8.0  6.8  ...  4.00  4.75  5.50

     KT  TBM1  TBM2  TBM3  US_TBM1  US_TBM2  US_TBM3
STT
1    A1  7.00  7.54  7.06    2.800    3.016    2.824
2     C  4.69  5.47  4.70    1.876    2.188    1.880
3     C  5.77  5.38  4.33    2.308    2.152    1.732
4    D1  6.21  5.20  6.03    2.484    2.080    2.412
5     A  6.50  6.36  7.01    2.600    2.544    2.804
6    D1  7.96  8.54  7.82    3.184    3.416    3.128
7     C  4.90  5.60  5.24    1.960    2.240    2.096
8    D1  6.80  6.87  6.95    2.720    2.748    2.780
9    D1  6.23  6.72  6.59    2.492    2.688    2.636
10   D1  6.80  7.25  7.12    2.720    2.900    2.848

[10 rows x 61 columns]
      T1   L1   H1   S1   V1   X1   D1   N1   T2   L2  ...   DH1   DH2   DH3  \
STT                                                    ...
91   8.1  7.7  9.1  8.5  6.1  8.6  8.8  7.3  8.8  8.3  ...  6.25  4.00  6.50
92   7.8  6.5  6.7  5.4  6.2  4.8  5.9  4.4  8.9  6.9  ...  4.75  4.75  4.50
93   5.0  6.6  6.5  7.2  5.8  6.7  6.4  6.0  6.8  6.1  ...  3.25  5.25  4.25
94   5.2  5.2  6.8  7.9  6.6  8.9  7.6  5.3  6.8  5.8  ...  3.50  4.25  5.00
95   5.8  5.9  7.6  6.1  5.3  8.1  6.1  5.0  6.4  7.2  ...  4.25  2.50  4.75
96   8.6  6.9  7.4  8.8  7.6  5.8  7.3  5.7  8.9  6.8  ...  5.25  1.50  6.25
97   3.7  5.4  6.0  5.1  5.5  3.9  6.1  4.4  4.1  4.8  ...  5.25  3.75  4.75
98   8.8  5.5  7.4  7.7  6.2  7.3  8.1  4.5  9.5  7.3  ...  7.00  8.00  4.00
99   2.7  1.8  3.4  5.3  4.5  7.9  4.9  3.8  2.8  5.7  ...  5.00  3.50  5.50
100  4.1  5.2  4.9  5.3  5.5  5.4  7.2  5.4  4.4  6.4  ...  5.25  2.50  4.25

     KT  TBM1  TBM2  TBM3  US_TBM1  US_TBM2  US_TBM3
STT
91    A  7.84  8.27  8.09    3.136    3.308    3.236
92    A  6.17  6.63  6.77    2.468    2.652    2.708
93    A  6.10  6.53  6.48    2.440    2.612    2.592
94    A  6.53  7.12  6.88    2.612    2.848    2.752
95    A  6.10  6.71  6.87    2.440    2.684    2.748
96    C  7.43  7.42  7.04    2.972    2.968    2.816
97    C  4.93  5.15  4.78    1.972    2.060    1.912
98    C  7.05  7.84  7.92    2.820    3.136    3.168
99    C  4.15  4.72  6.16    1.660    1.888    2.464
100   C  5.26  5.72  5.90    2.104    2.288    2.360

[10 rows x 61 columns]

In [30]:
#4. Thống kê dữ liệu thiếu cho cột dân tộc và hiệu chỉnh dữ liệu thiếu như sau: Mặc định thiếu thì điền giá trị 0.

import pandas as pd

data = pd.read_csv("dulieuxettuyendaihoc.csv", index_col="STT")

data['DT'] = data['DT'].fillna(0, inplace=False)
print(data['DT'])

STT
1      0.0
2      0.0
3      0.0
4      0.0
5      0.0
      ...
96     0.0
97     0.0
98     0.0
99     0.0
100    0.0
Name: DT, Length: 100, dtype: float64

In [31]:
#Câu 5: Thống kê dữ liệu thiếu cho biến T1 và hiệu chỉnh dữ liệu, lưu ý việc thay thế dữ liệu thiếu sử dụng phương pháp Mean.
import numpy as np
data = pd.read_csv("dulieuxettuyendaihoc.csv", index_col="STT")
data['T1'] = data['T1'].fillna(data['T1'].mean(), inplace=False)
print(data['T1'])

STT
1      7.2
2      5.4
3      5.6
4      6.6
5      6.0
      ...
96     8.6
97     3.7
98     8.8
99     2.7
100    4.1
Name: T1, Length: 100, dtype: float64

In [32]:
#Câu 6: Hãy thực hiện xử lý lần lượt tất cả dữ liệu thiếu cho các biến về điểm số còn lại.
import numpy as np
data = pd.read_csv("dulieuxettuyendaihoc.csv", index_col="STT")
def fill(col):
    return df[col].fillna(df[col].mean(), inplace=False)
if_float64 = df.dtypes == float
df_column_list = df.columns[if_float64].tolist()
for col in df_column_list:
    df[col].fillna(df[col].mean(), inplace=False)
print(df.isnull().values.any())
print(df.head(10))

True
      T1   L1   H1   S1   V1   X1   D1   N1   T2   L2  ...   DH1   DH2   DH3  \
STT                                                    ...
1    7.2  7.3  6.3  7.3  7.0  7.9  7.3  5.5  8.4  8.9  ...  3.25  3.25  4.50
2    5.4  3.9  3.9  4.0  5.4  5.4  5.3  2.8  6.3  5.4  ...  6.00  4.00  3.50
3    5.6  6.8  7.2  7.5  4.3  7.4  5.8  3.2  5.0  4.9  ...  5.00  6.75  4.00
4    6.6  6.4  5.3  6.9  5.4  7.3  6.4  5.8  5.1  6.2  ...  4.25  4.25  5.25
5    6.0  5.0  6.0  7.3  6.5  7.7  7.9  6.1  5.4  5.5  ...  4.25  4.50  5.00
6    9.3  7.6  7.9  8.6  7.0  7.3  7.7  7.9  9.6  7.8  ...  1.50  4.00  6.00
7    2.8  3.9  5.5  6.9  5.0  7.3  4.6  5.2  4.4  6.7  ...  6.50  6.75  5.25
8    8.3  6.0  7.6  5.1  7.5  4.7  5.8  7.2  6.7  6.3  ...  3.75  4.50  4.25
9    6.5  6.3  7.6  6.0  5.5  7.1  6.3  5.0  7.3  6.8  ...  3.50  3.50  6.75
10   7.3  5.9  4.7  7.1  6.7  7.9  6.7  7.7  8.0  6.8  ...  4.00  4.75  5.50

     KT  TBM1  TBM2  TBM3  US_TBM1  US_TBM2  US_TBM3
STT
1    A1  7.00  7.54  7.06    2.800    3.016    2.824
2     C  4.69  5.47  4.70    1.876    2.188    1.880
3     C  5.77  5.38  4.33    2.308    2.152    1.732
4    D1  6.21  5.20  6.03    2.484    2.080    2.412
5     A  6.50  6.36  7.01    2.600    2.544    2.804
6    D1  7.96  8.54  7.82    3.184    3.416    3.128
7     C  4.90  5.60  5.24    1.960    2.240    2.096
8    D1  6.80  6.87  6.95    2.720    2.748    2.780
9    D1  6.23  6.72  6.59    2.492    2.688    2.636
10   D1  6.80  7.25  7.12    2.720    2.900    2.848

[10 rows x 61 columns]

In [33]:
#Câu 7:Tạo các biến TBM1, TBM2, TBM3 tương ứng với trung bình môn của các năm lớp 10, 11 và 12.Công thức tính: TBM = (T*2 + L + H + S + V*2 + X + D + N) / 10
import numpy as np
data = pd.read_csv("dulieuxettuyendaihoc.csv", index_col="STT")
TBM1 = (data["T1"]*2 + data["L1"] + data["H1"] + data["S1"] + data["V1"]*2 + data["X1"] + data["D1"] + data["N1"])/10
TBM2 = (data["T2"]*2 + data["L2"] + data["H2"] + data["S2"] + data["V2"]*2 + data["X2"] + data["D2"] + data["N2"])/10
TBM6 = (data["T6"]*2 + data["L6"] + data["H6"] + data["S6"] + data["V6"]*2 + data["X6"] + data["D6"] + data["N6"])/10
for i in ["1","2","6"]:
    data["TBM"+i] = (data["T"+i]*2 + data["L"+i] + data["H"+i] + data["S"+i] + data["V"+i]*2 + data["X"+i] + data["D"+i] + data["N"+i])/10

In [34]:
data.rename(columns={"TBM6": "TBM3"}, inplace=True)
print(data.head(10))

      T1   L1   H1   S1   V1   X1   D1   N1   T2   L2  ...   DH2   DH3  KT  \
STT                                                    ...
1    7.2  7.3  6.3  7.3  7.0  7.9  7.3  5.5  8.4  8.9  ...  3.25  4.50  A1
2    5.4  3.9  3.9  4.0  5.4  5.4  5.3  2.8  6.3  5.4  ...  4.00  3.50   C
3    5.6  6.8  7.2  7.5  4.3  7.4  5.8  3.2  5.0  4.9  ...  6.75  4.00   C
4    6.6  6.4  5.3  6.9  5.4  7.3  6.4  5.8  5.1  6.2  ...  4.25  5.25  D1
5    6.0  5.0  6.0  7.3  6.5  7.7  7.9  6.1  5.4  5.5  ...  4.50  5.00   A
6    9.3  7.6  7.9  8.6  7.0  7.3  7.7  7.9  9.6  7.8  ...  4.00  6.00  D1
7    2.8  3.9  5.5  6.9  5.0  7.3  4.6  5.2  4.4  6.7  ...  6.75  5.25   C
8    8.3  6.0  7.6  5.1  7.5  4.7  5.8  7.2  6.7  6.3  ...  4.50  4.25  D1
9    6.5  6.3  7.6  6.0  5.5  7.1  6.3  5.0  7.3  6.8  ...  3.50  6.75  D1
10   7.3  5.9  4.7  7.1  6.7  7.9  6.7  7.7  8.0  6.8  ...  4.75  5.50  D1

     TBM1  TBM2  TBM3  US_TBM1  US_TBM2  US_TBM3  TBM3
STT
1    7.00  7.54  7.06    2.800    3.016    2.824  7.01
2    4.69  5.47  4.70    1.876    2.188    1.880  5.07
3    5.77  5.38  4.33    2.308    2.152    1.732  6.04
4    6.21  5.20  6.03    2.484    2.080    2.412  6.88
5    6.50  6.36  7.01    2.600    2.544    2.804  6.99
6    7.96  8.54  7.82    3.184    3.416    3.128  7.38
7    4.90  5.60  5.24    1.960    2.240    2.096  6.01
8    6.80  6.87  6.95    2.720    2.748    2.780  7.03
9    6.23  6.72  6.59    2.492    2.688    2.636  7.56
10   6.80  7.25  7.12    2.720    2.900    2.848  7.03

[10 rows x 62 columns]

In [35]:
#Câu 8
for i in ["1","2","3"]:
    col_name = "TBM" + i
    if col_name in df.columns:
        conditions = [
            df[col_name] <= 5,
            (df[col_name] > 5) & (df[col_name] <= 6.5),
            (df[col_name] > 6.5) & (df[col_name] < 8),
            (df[col_name] >= 8 ) & (df[col_name] < 9),
            df[col_name] >= 9]
        choices = ['Y', 'TB', 'K', 'G', 'XS']
        df["XL" +i] = np.select(conditions,choices)
    else:
        print(f"Cột {col_name} không tồn tại trong data")

In [36]:
df.head()

,T1,L1,H1,S1,V1,X1,D1,N1,T2,L2,...,KT,TBM1,TBM2,TBM3,US_TBM1,US_TBM2,US_TBM3,XL1,XL2,XL3
STT,,,,,,,,,,,,,,,,,,,,,
1,7.2,7.3,6.3,7.3,7.0,7.9,7.3,5.5,8.4,8.9,...,A1,7.00,7.54,7.06,2.800,3.016,2.824,K,K,K
2,5.4,3.9,3.9,4.0,5.4,5.4,5.3,2.8,6.3,5.4,...,C,4.69,5.47,4.70,1.876,2.188,1.880,Y,TB,Y
3,5.6,6.8,7.2,7.5,4.3,7.4,5.8,3.2,5.0,4.9,...,C,5.77,5.38,4.33,2.308,2.152,1.732,TB,TB,Y
4,6.6,6.4,5.3,6.9,5.4,7.3,6.4,5.8,5.1,6.2,...,D1,6.21,5.20,6.03,2.484,2.080,2.412,TB,TB,TB
5,6.0,5.0,6.0,7.3,6.5,7.7,7.9,6.1,5.4,5.5,...,A,6.50,6.36,7.01,2.600,2.544,2.804,TB,TB,K

In [37]:
#Câu 9:Tạo các biến US_TBM1, US_TBM2 và US_TBM3 để chuyển điểm trung bình các năm lớp10, 11 và 12 từ thang điểm 10 của Việt Nam sang thang điểm 4 của Mỹ. Sử dụng phươngpháp Min-Max Normalization
import pandas as pd

# Đọc dữ liệu từ file CSV
df = pd.read_csv("dulieuxettuyendaihoc.csv", index_col="STT")
# Tính TBM1, TBM2, TBM3 nếu chưa có
df["TBM1"] = (df["T1"] * 2 + df["L1"] + df["H1"] + df["S1"] + df["V1"] * 2 + df["X1"] + df["D1"] + df["N1"]) / 10
df["TBM2"] = (df["T2"] * 2 + df["L2"] + df["H2"] + df["S2"] + df["V2"] * 2 + df["X2"] + df["D2"] + df["N2"]) / 10
df["TBM3"] = (df["T3"] * 2 + df["L3"] + df["H3"] + df["S3"] + df["V3"] * 2 + df["X3"] + df["D3"] + df["N3"]) / 10

# Chuyển đổi điểm TBM sang thang điểm 4
def convert_to_us_scale(vn_score):
    return (vn_score - 0) / (10 - 0) * (4 - 0) + 0

# Tạo các cột US_TBM1, US_TBM2, US_TBM3
df["US_TBM1"] = convert_to_us_scale(df["TBM1"])
df["US_TBM2"] = convert_to_us_scale(df["TBM2"])
df["US_TBM3"] = convert_to_us_scale(df["TBM3"])

# Kiểm tra kết quả
print(df[["TBM1", "US_TBM1", "TBM2", "US_TBM2", "TBM3", "US_TBM3"]].head())
df.to_csv("dulieuxettuyendaihoc.csv", index=True)

     TBM1  US_TBM1  TBM2  US_TBM2  TBM3  US_TBM3
STT
1    7.00    2.800  7.54    3.016  7.06    2.824
2    4.69    1.876  5.47    2.188  4.70    1.880
3    5.77    2.308  5.38    2.152  4.33    1.732
4    6.21    2.484  5.20    2.080  6.03    2.412
5    6.50    2.600  6.36    2.544  7.01    2.804

In [38]:
#CÂU 10
import pandas as pd

# Đọc dữ liệu
data = pd.read_csv("dulieuxettuyendaihoc.csv", index_col="STT")

# Hàm xác định kết quả xét tuyển
def determine_kqxt(row):
    if row['KT'] in ['A', 'A1']:
        score = (row['DH1'] * 2 + row['DH2'] + row['DH3']) / 4
    elif row['KT'] == 'B':
        score = (row['DH1'] + row['DH2'] * 2 + row['DH3']) / 4
    else:  # Khối khác
        score = (row['DH1'] + row['DH2'] + row['DH3']) / 3
    return 1 if score >= 5.0 else 0

# Áp dụng hàm để tạo cột KQXT
data['KQXT'] = data.apply(determine_kqxt, axis=1)

# In kết quả
print(data.head())

      T1   L1   H1   S1   V1   X1   D1   N1   T2   L2  ...   DH2   DH3  KT  \
STT                                                    ...
1    7.2  7.3  6.3  7.3  7.0  7.9  7.3  5.5  8.4  8.9  ...  3.25  4.50  A1
2    5.4  3.9  3.9  4.0  5.4  5.4  5.3  2.8  6.3  5.4  ...  4.00  3.50   C
3    5.6  6.8  7.2  7.5  4.3  7.4  5.8  3.2  5.0  4.9  ...  6.75  4.00   C
4    6.6  6.4  5.3  6.9  5.4  7.3  6.4  5.8  5.1  6.2  ...  4.25  5.25  D1
5    6.0  5.0  6.0  7.3  6.5  7.7  7.9  6.1  5.4  5.5  ...  4.50  5.00   A

     TBM1  TBM2  TBM3  US_TBM1  US_TBM2  US_TBM3  KQXT
STT
1    7.00  7.54  7.06    2.800    3.016    2.824     0
2    4.69  5.47  4.70    1.876    2.188    1.880     0
3    5.77  5.38  4.33    2.308    2.152    1.732     1
4    6.21  5.20  6.03    2.484    2.080    2.412     0
5    6.50  6.36  7.01    2.600    2.544    2.804     0

[5 rows x 62 columns]

In [39]:
#Câu 11:
data.to_csv("processed_dulieuxettuyendaihoc.csv")